@charset "UTF-8";
/**  @Author: YISHI  @Date: 2018-07-13 09:59:48  @Desc: 全局通用样式  */
/**  @Author: YISHI  @Date: 2018-07-14 11:41:15  @Desc: 存放一些变量  */
/**  @Author: YISHI  @Date: 2018-07-14 11:41:33  @Desc: 通用代码引用  */
.layui-badge-lg { height: 40px !important; line-height: 40px !important; font-size: 14px !important; }

.lz-search-input { text-align: right; }
.lz-search-input .layui-inline { margin: 0; }

.lz-form-date { margin-left: 40px; }
.lz-form-date .layui-input-inline { width: 120px; }

@media (max-width: 750px) { .lz-form-date { margin-left: 0; }
  .lz-form-date .layui-input-inline { margin-left: 0; width: 100%; }
  .lz-form-date .layui-form-mid { display: none; margin: 0 !important; }
  .lz-sm-input-block { margin-left: 100px; }
  .layui-layout-admin .layui-side { position: fixed; top: 0; left: -260px; z-index: 10000; -webkit-transition: all .3s; transition: all .3s; }
  .layui-layout-admin .layui-body { left: 0; -webkit-transition: all .3s; transition: all .3s; }
  .layui-layout-admin .layui-footer { left: 0; -webkit-transition: all .3s; transition: all .3s; }
  .site-mobile .layui-side { left: 0; }
  .site-mobile-tree { display: block !important; position: fixed; z-index: 100000; bottom: 15px; left: 15px; width: 50px; height: 50px; line-height: 50px; border-radius: 2px; text-align: center; background-color: rgba(0, 0, 0, 0.7); color: #fff; }
  .site-mobile .site-mobile-shade { content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.8); z-index: 999; }
  .site-mobile .site-mobile-tree { display: none !important; }
  .layui-layout-admin .layui-logo { left: -40px; }
  .layui-side-scroll { width: 100% !important; height: 150px !important; }
  .lz-sm-btn { width: 100%; }
  .layui-btn + .layui-btn { margin-left: 0; }
  .lz-formlabel-w160 .layui-form-label { width: 110px !important; }
  .lz-formlabel-w160 .layui-input-inline { width: 190px !important; }
  .lz-formlabel-w160 .layui-input-block { margin-left: 110px !important; }
  .lz-search-input .layui-inline { margin-bottom: 5px !important; }
  .lz-tb-card .layui-card-header { height: auto; } }
@media (max-width: 320px) { .layui-layout-admin .layui-logo { left: -60px; } }
.lz-body-container { position: absolute; top: 15px; right: 15px; bottom: 15px; left: 15px; background-color: #ffffff; overflow: auto; }

.layui-side .layui-nav .layui-nav-item a i { padding-right: 10px; }

.layui-nav .layui-nav-item-1 { position: relative; display: inline-block; vertical-align: middle; line-height: 60px; margin-right: 10px; color: rgba(255, 255, 255, 0.7); }
.layui-nav .layui-nav-item-1 .layui-btn-xs { margin-left: 5px; font-size: 12px; }

.layui-nav .layui-badge { position: static; }

.lz-copyright { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.lz-copyright-links a { padding: 0 10px; color: #333; border: 1px solid #ddd; }
.lz-copyright-infos { text-align: center; color: #333; }

.layui-body { background-color: whitesmoke; }

.layui-footer { background-color: #ffffff; }

.lz-side-bar { background-color: #fff; }
.lz-side-bar .layui-side-scroll .layui-nav { text-align: center; background-color: #fff; }
.lz-side-bar .layui-side-scroll .layui-nav .layui-nav-item.layui-this a { color: #009688 !important; }
.lz-side-bar .layui-side-scroll .layui-nav .layui-nav-item a { color: #000 !important; }
.lz-side-bar .layui-side-scroll .layui-nav .layui-nav-item a:hover { color: #009688 !important; }

.layui-card { border: 1px solid rgba(0, 0, 0, 0.05); }

.lz-header { overflow: hidden; }
.lz-header-title { padding: 10px 0 40px 0; }

.lz-formlabel-w160 .layui-form-label { width: 160px; }
.lz-formlabel-w160 .layui-form-item .layui-input-inline { width: 300px; }
.lz-formlabel-w160 .layui-input-block { margin-left: 160px; }

.lz_item { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.lz_item_lab { display: inline; }
.lz_item_cont { display: inline; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.lz-index-title { margin-top: 10px; line-height: 50px; font-size: 28px; }

.lz-card-title { font-size: 20px; color: #393d49; }

.lz-card-num { padding: 20px 0; font-size: 28px; }

/*# sourceMappingURL=global.css.map */