/** 
 * @Author: YISHI 
 * @Date: 2018-07-14 11:41:15 
 * @Desc: 存放一些变量 
 */

@charset 'utf-8';
$white: #ffffff;
$gray: #c2c2c2;
$red: #FF5722;
$orange: #FFB800;
$green: #009688;
$cyan: #2F4056;
$blue: #1E9FFF;
$black: #393D49;