<form action="###" class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-inline">
            <input type="text" lay-verify="required" name="user_account" autocomplete="off" class="layui-input" placeholder="请输入" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">旧密码</label>
        <div class="layui-input-inline">
            <input type="password" lay-verify="required" name="user_old_pwd" autocomplete="off" class="layui-input" placeholder="请输入"
            />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input type="password" lay-verify="required|pass" name="user_new_pwd" autocomplete="off" class="layui-input" placeholder="请输入"
            />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码确认</label>
        <div class="layui-input-inline">
            <!-- lay-verify="required|pass|confirmPwd" 验证 -->
            <input type="password" lay-verify="required|pass|confirmPwd" name="user_new_confirm_pwd" autocomplete="off" class="layui-input"
                placeholder="请输入" />
        </div>
        <div class="layui-form-mid layui-word-aux">辅助文字</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <button class="layui-btn" lay-submit lay-filter="change_pwd">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>